@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding:0;
}
.one {
  border-radius: 24px;

background: rgb(198, 228, 214);

position: static;
width: 1060px;
height: 560px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;

flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
}
.sub-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
}
.title{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.btn-container{

}
.btn{
  color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 13px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
border:none;
background: rgb(0, 106, 80);
border-radius: 8px;
justify-content: center;
margin: 24px 0px;
padding: 17px 34px 17px 34px;
}
.title2 {
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
width: 1280px;
margin: 24px 0px;
height: 48px;
}
.description2{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 6px;
padding: 0px;
height: 48px;
gap: 32px;
width: 1280px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}
.vision-container{
  display: flex;
  gap:24px;
  margin-top:13px;
  padding:30px;
  justify-content: space-around;
  align-items: flex-start;

}
.visiontitle{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 5px;

}
.vision-description{
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top:5px;
}
.button123{
  color:white;
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
padding: 11px 20px 11px 20px;
border-radius: 8px;
margin: 24px 0px;
align-items: right;
justify-content: right;
position: static;
gap: 48px;
border:none;


}
.vision-one{
  box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
width: 410.67px;
height: 325px;
padding: 32px;
margin: 0px 20px;
/* align-items: flex-start;
flex-direction: column;
justify-content: flex-start; */

}
.vision-two{
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 32px;
  margin: 0px 24px;
  height: 325px;
  width: 410.67px;

}
.vision-three{
  box-sizing: border-box;
  border-radius: 16px;
  width: 410.67px;
  height: 325px;
  background: rgb(247, 235, 207);
  padding: 24px;
  margin: 0px 24px;
}
/* .button123{
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
background: rgb(84, 144, 245);
margin: 24px 0px;
justify-content: center;
align-items: center;
} */
.main{
  margin:0 auto;
}
.ima{
  margin-bottom: 10px;
}
.primaryone{
  color:white;
  border-radius: 8px;
border: none;
  background: rgb(84, 144, 245);
  color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 11px 20px 11px 20px;
margin: 24px 0px;
text-align: left;
}
.primarytwo{
  color:white;
border-radius: 8px;
background-color: rgb(9, 161, 92);
border:none;
Font: Fira Sans;
Font-weight: 600;
Font-size: 16px;

Letter-spacing :0%;
text-align:left;
padding: 11px 20px 11px 20px;
margin: 24px 0px;
text-align: left;
}
.primarythree{
  color:white;
  border-radius: 8px;
border: none;
background: rgb(255, 194, 57);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin: 24px 0px;
padding: 11px 20px 11px 20px;
text-align: left;
}
#big{
  width: 1280px;
  height: 256px;
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 12px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 48px 24px 48px 24px;
background: rgb(255, 255, 255);
gap:24px;

}
.statement{
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;





}
.name{
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;



}
.Cheif{
  color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
gap:4;


}

